#Flask environment
FLASK_ENV = development

#Database
DATABASE_URL = 
TEST_DATABASE_URL = 

#App secret key
SECRET_KEY = 

#Mail
MAIL_SERVER = 
MAIL_PORT = 
MAIL_USE_TLS = 
MAIL_USERNAME = 
MAIL_PASSWORD = 